<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Campground</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img style="height: 50px; width: 50px; margin-right: 20px;"
                        src="https://cdn4.iconfinder.com/data/icons/camping-and-adventure-part-1/137/3-512.png"
                        alt="camp icon">
                    Welcome to the Campground
                </a>
            </div>
            <div class="">
                <ul class="navbar-nav navbar-right">
                    <% if(!currentUser){ %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">SignUp</a></li>
                    <% } else{ %>
                    <li><a href="#">Signed in as: <%= currentUser.username %></a></li>
                    <li><a href="/logout">Logout</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
        <!-- <div class="d-flex">
            <a href="/new"><button class="btn btn-outline-light" type="submit">New
                    Camp</button></a>
        </div> -->

    </nav>