<%- include("partials/header") -%>


<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col-md-12 text-center main-row">
            <h1>Welcome to the Campgrounds</h1>
            <a href="/camps"><button class="btn btn-primary main-btn">View the Campgrounds</button></a>
        </div>
    </div>
</div>

<%- include("partials/footer") -%>