<%- include("partials/header") -%>
<h1>Add Campground</h1>


<form action="/camp" method="POST">
    <input type="text" name="name" id="" placeholder="Camp name">
    <input type="text" name="image" id="" placeholder="Picture">
    <button>Add</button>
</form>
<%- include("partials/footer") -%>