<%- include("./partials/header") -%>

<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 col-md-12 text-center camp-new">
            <h1>Sign Up!</h1>
            <br>
            <form action="/register" method="POST">
                <input class="form-control" type="text" name="username" id="" placeholder="Username">
                <br>
                <input class="form-control" type="password" name="password" id="" placeholder="Password">
                <br>
                <button class="btn btn-primary">Sign up</button>
            </form>
            <br>
            <hr>
            <div class="row justify-content-center">
                <a href="/camps">Go Back</a>
            </div>
        </div>
    </div>
</div>
<%- include("./partials/footer") -%>