<%- include("../partials/header") -%>

<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 col-md-12 text-center camp-new">
            <h1>Add New Campground</h1>
            <br>
            <form action="/camps" method="POST">
                <input class="form-control" type="text" name="name" id="" placeholder="Campground name">
                <br>
                <input class="form-control" type="text" name="image" id="" placeholder="Picture">
                <br>
                <input class="form-control" type="text" name="description" id="" placeholder="Description">
                <br>
                <button class="btn btn-primary">Add Camp</button>
            </form>
            <br>
            <hr>
            <div class="row justify-content-center">
                <a href="/camps">Go Back</a>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer") -%>